{% extends 'base.html' %}
{% block title%}
  Записи группы {{ group.title }}
{% endblock %}
{% block content %}
<body>
  <main>
    <div class="container">
      <h1> Записи группы {{ group.title }} </h1>
        <p>
          {{ group.description }}
        </p>
      {% for post in posts %}
         <ul>
           <li>Автор: {{ post.author.get_full_name }}</li>
           <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
         </ul>
         <p>{{ post.text }}</p>
         {% if not forloop.last %}
           <hr>
         {% endif %}
      {% endfor %}
    </div>
  </main>
</body>
{% endblock %}